h1
{
    padding-left: 10px;
    padding-top: -10px;
    padding-bottom: -10px;
    
}
.bike{
    margin-top: -560px;
  margin-left: -1vh;
  text-align: center;
}
a
{
    margin-top: -560px;
    margin-left: -1vh;  
}